<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>What's Up</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'appointments/css/a_stylez.css' %}">
    </head>
    <body>
        <header>
            <a href="{% url 'schedule:appointments' %}">Dashboard</a>
            <a href="{% url 'login:logout' %}">Logout</a>
        </header>
        {% if messages %}
            <ul class="flash_messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
            </ul>
        {% endif %}

        {% for appointment in events%}
        <form action="{% url 'schedule:update' id=appointment.id %}" method="post">
            % csrf_token %}
            <p>Tasks:</p><input type="text" name="task" value="{{appointment.task}}">
            <p>Status:</p>
            <!-- can make default by setting selected attribute to select use  if appointment.status == pending elif appointment.status ==done , else and have three options!-->
            {% if appointment == "pending"%}
            <select name="status">
                <option value="pending" selected>Pending</option>
                <option value="done">Done</option>
                <option value="missed">Missed</option>
            </select>
            {% elif appointment == "done" %}
            <select name="status">
                <option value="pending">Pending</option>
                <option value="done" selected>Done</option>
                <option value="missed">Missed</option>
            </select>
            {% else %}
            <select name="status">
                <option value="pending">Pending</option>
                <option value="done">Done</option>
                <option value="missed" selected>Missed</option>
            </select>
            {% endif %}
            <p>Date:</p><input type="date" name="date" value="{{appointment.date}}">
            <p>Time:</p><input type="time" name="time" value="{{appointment.time}}">
            <input type="submit" name="update" value="Update">
        </form>
        {% endfor %}
    </body>
</html>
