<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>What's Up</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'appointments/css/a_stylez.css' %}">
    </head>
    <body>
        <header>
            <a href="{% url 'schedule:appointments' %}">Dashboard</a>
            <a href="{% url 'login:logout' %}"></a>
        </header>
        {% if messages %}
            <ul class="flash_messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
            </ul>
        {% endif %}
        <form action="{% url 'schedule:update' id=event_id %}" method="post">
            <p>Tasks:</p><input type="text" name="task" value="PULL FROM APPOINTMENT BASED ON APP_ID">
            <p>Status:</p>
            <!-- can make default by setting selected attribute to select use {% if appointment.status == pending%} elif appointment.status ==done , else and have three options!-->
            <select name="status">
                <option value="pending">Pending</option>
                <option value="done">Done</option>
                <option value="missed">Missed</option>
            </select>
            <p>Date:</p><input type="date" name="date" value="PULL FROM DB BASED ON APP ID">
            <p>Time:</p><input type="time" name="time" value="PULL FROM DB BASED ON APP ID">
            <input type="submit" name="update" value="Update">
        </form>
    </body>
</html>
